@model Projeto.Models.Produto

@{
    ViewData["Title"] = "Delete";
}
<h3>Deseja Deletar este Produto ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DescritaDetalhada)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DescritaDetalhada)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        
        @* <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.IsLanchePreferido)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsLanchePreferido)
        </dd> *@
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd class>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">Retornar</a>
    </form>
</div>
